{% extends 'base.html' %}



{% block title %} | Dashboard {% endblock %}

{% block content %}



<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Username</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
	<div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>User</span></h1>
            <p>Here are the cars that you have inquired about</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <th scope="row">1</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		<tr>
		  <th scope="row">2</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">View Car</a></td>
		</tr>
		<tr>
		  <th scope="row">3</th>
		  <td>Lamborgini Huracan</td>
		  <td>Austin</td>
		  <td>$25000</td>
		  <td><a href="#" class="btn btn-outline-dark">View Car</a></td>
		</tr>
	  </tbody>
	</table>
</div>

<!--   Dashboard End   -->
{% endblock %}
